@model IEnumerable<Ecommerce.Application.DTOs.ProductDTO>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Description</td>
                <td>@contact.Price</td>
            </tr>
        }
    </tbody>
